{% extends "logdweb/base.jinja" %}

{% block header %}
	<h1 class="title"><a href="{{ reverse('logd-index') }}">logd admin</a></h1>
{% endblock %}

{% block sidebar %}
	<h2>logfiles</h2>
	<ul>
		{% for logfile in info['logfiles'] %}
			<li>
			{% if path and path == logfile['path'] %}
				{{ logfile['path'] }} ({{ logfile['length'] }})
			{% else %}
				<a href="{{ reverse('logd-path-index', kwargs={'path':logfile['path']}) }}">{{ logfile['path'] }}</a>
				({{ logfile['length'] }})
			{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block main %}
	{% if path %}
		<h2>{{ path }}</h2>
		<table class="log">
			{% for line in lines %}
				<tr>
					<td class="level">
					<a href="{{ reverse('logd-path-level', kwargs={'path':path, 'level': line['level']}) }}" class="{{ line['level'].lower() }}">{{ line['level'].lower()}}</a>
					</td>
					<td class="logger">
						<a href="{{ reverse('logd-path-logger', kwargs={'path': path, 'logger': line['name']}) }}">{{ line['name'] }}</a>
					</td>
					<td class="msg">{{ line['msg'] }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
